arrow==0.10.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
cssselect==1.0.1
dj-database-url==0.4.2
Django==1.11.6
django-bootstrap-themes==3.3.6
feedfinder2==0.0.4
feedparser==5.2.1
googlemaps==2.4.6
gunicorn==19.7.1
idna==2.6
lxml==3.8.0
nltk==3.2.5
numpy==1.13.3
pbr==3.1.1
psycopg2==2.7.3.1
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
scikit-learn==0.19.0
scipy==0.19.1
semantic==1.0.3
six==1.11.0
sklearn==0.0
stevedore==1.25.0
times==0.7
urllib3==1.22
