{% extends "base.html" %}

{% load static %}

{% block title %} News Information Extraction {% endblock title %}

{% block nav_index_contact_us %}
    class="nav-link active btn-primary"
{% endblock %}



{% block content %}

<div class="container">
	<div class="row">
    <div class="col-md-3 col-md-offset-3">
    </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm" style="outline: 4px solid #32a1ce; outline-offset: 15px;">
          <form class="form-horizontal" action="/feedback/" method="post">
            {% csrf_token %}
          <fieldset>
            <legend class="text-center">Contact us</legend>

            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control" required="required">
              </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Your E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="email" placeholder="Your email" class="form-control" required="required">
              </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Message</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5" required="required"></textarea>
              </div>
            </div>



            <!-- Form actions -->
            <div  name="recaptcha_challenge_field" class="g-recaptcha" data-callback="capcha_filled" data-expired-callback="capcha_expired" data-sitekey="6LdZRUUUAAAAAGY9JvSJWTHxDBOXXHYTSXG4KYrs" style="padding-left:0.5cm;"></div>

            <div class="form-group">
              <div class="col-md-12 text-right">
                <button id="send_feedback" type="submit" class="btn btn-primary btn-lg" style="display:none;">Submit</button>
              </div>
            </div>
          </fieldset>

          </form>
        </div>
      </div>
	</div>
</div>

{% endblock content %}


{% block javascript %}
<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback' async defer>

</script>
<script>
var capcha_filled = function(){
  document.getElementById("send_feedback").style.display = "block";

}


</script>

{% endblock javascript %}
