
{% extends "base.html" %}


{% block title %} News Information Extraction {% endblock title %}

{% block nav_index_r %}
    class=" nav-link active"
{% endblock %}

{% block content %}
<div class="container">
  <div class="row"><!--row-->
    <div class="col-md-6">
      <h2> RSS News </h2>
      <div class="pre-scrollable">

      {% for article in object_list%}
      <ul>
        <li class='listed' style='list-style:none;'>
          <p id={{ article.id }} class="head">   <a href="#">{{article.header}}:</a>
          <p>{{article.date}}</p>

        </p>
        </li>
      </ul>
      {% endfor %}
      {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <!-- <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
            </div> -->

            <div class="center">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="/?page={{ page_obj.previous_page_number }}">«</a></li>

                    <!-- <a href="/?page={{ page_obj.previous_page_number }}">previous</a> -->
                {% endif %}
              {% for page in page_obj.paginator.page_range %}
              {% ifequal page page_obj.number %}
              <!-- <li><a id="test2" class="active" href="/?page={{ page }}">{{page}}</a></li> -->
            <li><a class="active" href="/?page={{ page }}">{{page}}</a></li>

        <!-- Do something special for this page -->
              {% else %}
      <!-- <li><a href="/?page={{ page}}" id="test1">{{page}}</a></li> -->
          <li><a href="/?page={{ page }}">{{page}}</a></li>

        <!-- All the other pages -->
                  {% endifequal %}


    <!-- {{ page }} -->
{% endfor %}
{% if page_obj.has_next %}
<li><a href="/?page={{ page_obj.next_page_number }}" onclick="test()">»</a></li>

    <!-- <a href="/?page={{ page_obj.next_page_number }}">next</a> -->
{% endif %}

</ul>
</div>

      <!-- {% for i in "xxx" %}
            <a href="/?page={{ page_obj.number }}">{{ page_obj.number }}</a>
 <li class="active"><a href="/?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

</ul>
{% endfor %} -->


{% else %}
    <h3>RSS feeds</h3>
    <p>No feeds found!!! :(</p>
{% endif %}
    </div>
  </div>


    <div class="col-md-6">

      <p id='summary'> Click on one of the news </p>




    </div>
  </div><!--row-->



</div>


{% endblock content %}



{% block javascript %}
<style>

.listed{

  background-color: rgb(169, 210, 237);
  color:#000;
  padding: 5px;
  border-radius: 15px;
  margin: 5px;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}

.pre-scrollable {
    max-height: 450px;
    overflow-y: scroll;
}
</style>

<script>
// function css()
// {
//   $('.load').css("display", "block");
// }

$(document).ready(function(){
  $('ul.pagination').on('click', 'a', function() { // listen for click on pagination link
    if($(this).hasClass('active')) return false;

    var active_elm = $('ul.pagination a.active');

    if(this.id == 'next'){
      var _next = active_elm.parent().next().children('a');
      if($(_next).attr('id') == 'next') {

        // appending next button if reach end
        var num = parseInt($('a.active').text())+1;
        active_elm.removeClass('active');
        $('<li><a class="active" href="#">'+num+'</a></li>').insertBefore($('#next').parent());
        return;
      }
      _next.addClass('active');




    }
    else if(this.id == 'prev') {
      var _prev = active_elm.parent().prev().children('a');
      if($(_prev).attr('id') == 'prev') return false;
      _prev.addClass('active');
    } else {
      $(this).addClass('active');
    }
    active_elm.removeClass('active');

});
console.log("hello");
  function present_summary(){
    var accidentNews ={};

    {% for news in object_list %}

    {% if news.id is not None %}


    accidentNews[{{news.id}}] = {
    location : "{{ news.location }}",
    death : "{{ news.death }}",
    death_no : "{{ news.death_no }}",
    injury:"{{ news.injury}}",
    injury_no:"{{ news.injury_no}}",
    vehicle_no:"{{ news.vehicle_no }}",
    date:"{{ news.date }}",
    url:"{{ news.get_absolute_url }}",
    day:"{{ news.day }}",
    body:"{{news.body}}",

    };

    {% else %}

    accidentNews[0] = {};

    {% endif %}

    {% endfor %}



    $('.head').each(function(){
      $(this).click(function(){

        var news = accidentNews[this.id];
        var vehicle = news.vehicle_no;
        var decVehicle= $('<textarea/>').html(vehicle).text();

        var v = decVehicle.replace(/\'/g, '"');
        // alert(v);
        // alert(JSON.stringify(v));
        var jsonObject = JSON.parse((v));
        // alert(jsonObject);
        // alert(decVehicle);
        // for (var key in jsonObject){
        //   // alert(jsonObject['tipper']);
        // }

        // alert("Hello each " + news.location );
        //$('#summary').replaceWith("<h2 id='summary'>  " +  news.death , news.location  + "</h2>");
        $('#summary').replaceWith("<div id='summary'><h2> Extracted items </h2><p> Death: " + news.death +  "</p><p> Death Number: " + news.death_no +  "</p><p> Injury: " + news.injury +"</p><p> Injury Number: " + news.injury_no +"</p><p> Vehicle Involved: " + news.vehicle_no +"</p><p>Location: " + news.location +"</p><p> Date: "+ news.date +"</p><p> Day: "+ news.day +"</p><h2>Full news</h2>"+ news.body+ "</div>");

    //
    // function summary_info() {
    //
    //   return ( "<p>The Location is: " + news.location +"</p>" );
    // }

  });

  $('#no').click(function () {
    $('#summary').replaceWith("<h2 id='summary'> No Summary Information</h2>");


  })

    });

  }
  present_summary();

});

</script>

{% endblock javascript %}
