{% extends "base.html" %}

{% load static %}

{% block title %} News Information Extraction {% endblock title %}

{% block nav_index_contact_us %}
    class=" nav-link active"
{% endblock %}



{% block content %}
<div class="container">
	<div class="row">
    <div class="col-md-3 col-md-offset-3">
    </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm" style="outline: 4px solid #32a1ce; outline-offset: 15px;">
          <h2> Thanks for filling out our form! </h2>

  <p> We will look over your message and get back to you by tomorrow. In the meantime, you can check Our Database. </p>
  </div>
  </div>

  </div>

</div>
{% endblock content %}
