/*header css*/
.main-container{
  margin: auto;
  width: 85%;
}
.page-header{
  background:#2196F3;
  height: 20em;
  width:100%;
}
.page-header h1{
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin: auto;

}
.heading{
  padding-top: 80px;
}
.page-header h1{
  color: #fff;
}
.navbar{
  background: #5C6BC0 !important;
}
.navbar-nav li{
  display: inline;
  float: left;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-right: 25px;
  text-transform: uppercase;
}
.nav-item a{
  color: #E8EAF6;
  padding: 0px !important;
}

/*main container css*/
.container{
  background: #ECEFF1;
}
.block-title{
  text-transform: uppercase;
  font-size: 38px;
  margin: auto;
  font-weight: bold;
  text-align: center;
  display: block;
  color: #546E7A;
}
.info{
  text-align: center;
  padding-left: 20px !important;
}
.form-container{
  width: 50%;
}
input{
    width:50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text]:focus {
    border: 3px solid #555;
}
table td{
  font-weight: bold;
}
section h2{
  text-align: center;
}
.form-warpper{
  margin: 0 auto;
  width: 85%;
}
footer{
  width: 85%;
  background:#5C6BC0;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}
.active{
  background-color:#2196F3;
  color:#000000;
  text-shadow: 12px;
  font-style: italic;

}
body {font-family: sans-serif}
#map {width: 100%; height: 350px; margin: 10px;}
#waypoints {overflow: auto; width: 500px; height: 300px}
.linkOFF {color: darkblue}
.linkON {color: white; background-color: darkblue}
