
{% extends "base.html" %}


{% block title %} News Information Extraciton {% endblock title %}

{% block nav_index%}
    class=" nav-link active"
{% endblock %}

{% block content %}



<div class="container">
  <br>
  <div class="row">
  <div class="col-md-6">
    <div class="panel-default">
    <div class="panel-heading">
      <h4> Current </h4>
    </div>
    <div class="panel-body">
      <ul class="nav nav-tabs" id="tabs">
        <li><a href="#bike-accident" onclick="bikeAll('bike')"> Bike </a> </li>
        <li><a href="#bus-accident" onclick="bikeAll('bus')"> Bus </a> </li>
        <li><a href="#tipper-accident" onclick="bikeAll('tipper')"> Tipper </a></li>
      </ul>
      <div class="tab-content">
        <h3 id="demo" > Click one of the view <br> </h3>

      </div>


    </div>


  </div>

</div>

<div class="col-md-6">
  <div class="panel-default">
  <div class="panel-heading text-center panel-relative">
    <h4> News </h4>
  </div>
  <div class="panel-body">
  </div>
    <div class="pre-scrollable">
      <ul>
      {% for n in object_list %}
      <li class='listed' style='list-style:none;' >

      <a id="p1" data-html="true" data-toggle="popover" data-placement="top" title="Death: {{ n.death }} <br> Injury: {{ n.injury}}" data-content="<div><b>Example popover</b> - content</div>" href = " {{ n.get_absolute_url }} " > {{ n.location }}</a>


    </li>
      {% endfor %}
    </ul>
    </div>
  </div>
</div>
</div><!-- row -->

</div>


{% endblock content %}


{% block javascript %}


<style>

.listed{
  background-color: rgb(169, 210, 237);
  padding: 5px;
  border-radius: 15px;
  margin: 5px;
}

</style>


<script>

$(document).ready(function() {
  $("#tabs").click(function {
    $(this).tab('show');
  });


  // $("#p1").mouseenter(function () {
  //   alert("Direct call");
  // });

  $("[id='p1']").on('mouseenter',sel);
  $("[id='p1']").on('mouseleave',dsel);

  // $('[data-toggle="popover"]').popover({
  //   title: 'just to make it works',
  // });

  function sel(){

      $(this).animate({"padding-left": "50px"}, "normal");

      $('[data-toggle="popover"]').popover({
        title: 'just to make it works',
      });

  };
  function dsel() {

    $(this).stop(true).animate({"padding-left": "0px"}, "slow");


  }









document.getElementById("demo").append("CCN");


});
</script>


<script>

    function bikeAll(name) {
     var i =0;
     var arr = [];
     var arr_bike=[];
    var accidentNews={};
  {% for news in object_list %}

   accidentNews[{{news.id}}] = {
     location : "{{ news.location }}",
     death : "{{ news.death }}",
     injury:"{{ news.injury}}",
     vehicle_no:"{{ news.vehicle_no }}",
     date:"{{ news.date }}",
     url:"{{ news.get_absolute_url }}",

   };


     {% for key,value in news.vehicle_no.items %}

     {% if  key == "tipper"  %}
      if (name == 'tipper'){
        arr.push(accidentNews[{{ news.id }}]);
      }


     {% endif %}

     {% if key == "bike" %}
     if (name == 'bike'){
     arr.push(accidentNews[{{ news.id }}]);
   }
     {% endif %}

     {% if  key == "bus"  %}
      if (name == 'bus'){
        arr.push(accidentNews[{{ news.id }}]);
      }


     {% endif %}

     {% endfor %}


  {% endfor %}


    var i;


    document.getElementById("demo").innerHTML = "<ul style='list-style:none;'>";

    for (i=0; i<arr.length;i++){
      var s= arr[i].url;
      var mycode1 = "<li class='listed' style='list-style:none;'> <a style='color:red;' href='" + s + "' > ";
      var mycode2 = "</a> </li>";


     document.getElementById("demo").innerHTML += mycode1 + arr[i].vehicle_no + mycode2 ;

   }
   document.getElementById("demo").innerHTML += "</ul>";

  };

  console.log("Hello");

</script>
{% endblock javascript %}
