{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->

    <!-- <meta http-equiv="refresh" content="5; URL=http://127.0.0.1:8000/" > -->

      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} NIEV {% endblock title %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google map
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  -->






    {% block css %}
    <!-- <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css"/> -->
    <!-- <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css"/> -->

    <link rel="stylesheet" href="{% static "css/news.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/custom.css" %}" type="text/css"/>
       <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
       <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


    {% endblock css %}
  </head>
    <body >

    <div class="main-container">
      <div class="page-header">
        <div class="heading">
      <h1> Road  Accident  News</h1>
      <h1> Information  Extraction  System </h1>
      </div>
    </div>

      <nav class="navbar navbar-toggleable-md ">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a {% block nav_index_r %} {% endblock nav_index_r %} href="/" >Home</a>
            </li>
            <li class="nav-item">
              <a {% block nav_index_rs %} {% endblock nav_index_rs %} style="color:white;" href="/rssdb" >Rssdb</a>
            </li>
            <li class="nav-item">
              <a {% block nav_index %} {% endblock nav_index %} href="/news/" >Database</a>
            </li>
            <li class="nav-item">
              <a {% block nav_index_e %} {% endblock nav_index_e %}  href="/news_ie/" >Extraction</a>
            </li>
            <li class="nav-item">
              <a {% block nav_index_about %} {% endblock nav_index_about %} href="/aboutUs/">About Us</a></li>
            </li>
          </ul>
        </div>
      </nav>
  <br>
</div>


  </div>




  {% block content %}

  {% endblock content %}



    {% block javascript %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>



    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
    <!-- Cause of change in Bootstrap setting -->


    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    {% endblock javascript %}

  </body>

  <footer>
   Copyright &#169 2017
  </footer>


</html>
