
{% extends "base.html" %}
{% block title %} News Information Extraciton {% endblock title %}

{% block nav_index_e %}
    class="active"
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">

<form action="/news_ie/" method="post">
{% csrf_token %}
{{ form }}
 <input  class="btn btn-info" type="submit" value="Submit" />

</form>
</div>


{% if sentences_dic %}
<!--
<div class="row">
  <p>  Sentences in given news are : </p>
</div>
{% for key,value in sentences_dic.items %}

<div>{{ key }} {{  value }}
</div>
{% endfor %}
-->

<div class="row">
<div class="col-md-6">

<table>
  <tr>
    <th scope="row"> <h3> Death </h3>  </th>
    <td> {{ death }} </th>

  </tr>
  <tr>
    <th scope="row">
      <h3> Injury Number </h3> </th>
    <td> {{ injury }} <td>
    </tr>
  <tr>
    <th scope="row"><h3> Date of Accident </h3></th>
    <td>   {{date}} </td>
  </tr>

  <tr>
    <th>  <h3> Vehicles Involved in accident </h3> </th>
    <td>
    {% for key,value in number_plate.items %}
    <div>
    {{ key }} ==>    {{ value }}

    </div>

    {% endfor %}
  </td>
  </tr>

  <tr>
    <th><h3> Location of Accident </h3> </th>

  <td>  {{ location }} ==> {{ coordintae }}</td>
</tr>


    {% endif %}

</table>
</div>






<button type="button" id="plot-btn" class="btn btn-primary" onclick="plotLocation"> Plot Location </button>

<div class="col-md-5"   >

    <div id=map>    </div>

</div>
</div>
<button type="button" id="btn" class="btn btn-primary" onclick="showAllWayPoints()">Show all Waypoints</button>

</div>
{% endblock content %}

{% block javascript %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>

<script>

var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 10,
  // Nepal 27.7172453, 85.3239605
  // Websit 55.755, 37.615
  center: new google.maps.LatLng(27.7172453, 85.3239605),
  mapTypeId: google.maps.MapTypeId.ROADMAP
});

// marker = new google.maps.Marker({
//   position: new google.maps.LatLng(location_coordinates[0], location_coordinates[1]),
//   map: map
//
// });

</script>


<script>

document.getElementById('plot-btn').onclick = function() {
 plotLocation()

};
</script>
{% endblock javascript %}
