
{% extends "base.html" %}
{% block title %} News Information Extraciton {% endblock title %} 

{% block content %}

<div class="container">

<form action="/news_ie/" method="post">
{% csrf_token %}
{{ form }}
 <input  class="btn btn-info" type="submit" value="Submit" />

</form>


{% if sentences_dic %}
<div class="row">
  <p>  Sentences in given news are : </p>
</div>
{% for key,value in sentences_dic.items %}

<div>{{ key }} {{  value }}
</div>
{% endfor %}


<h3> Death Number </h3>
{{ death }}

<h3> Injury Number </h3>
{{ injury }}

<h3>Date of Accident</h3>
{{date}}

<h3> Vehicles Involved in accident </h3>
{% for key,value in number_plate.items %}
<div>
{{ key }} ==>
{{ value }}

</div>

{% endfor %}
<div>
<h3> Location of Accident </h3>
{{ location }} ==> {{ coordintae }}
</div>

{% endif %}

</div>
{% endblock content %}
